<div class="p-5 text-center bg-body-tertiary rounded-3">
  <img src="images/Logo.svg" alt="Bootstrap" height="200" />
  <h1 class="text-body-emphasis">My Personal Blog</h1>
  <p class="col-lg-8 mx-auto fs-5 text-muted">
    Keep up with your personal blog. Even update them if you want.
  </p>
</div>
